* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chuck Norris", sans-serif;
  font-weight: 500;
}

#Translate {
  background-color: white;
  color: black;
}
.quote-button,
#Translate {
  transition: transform 0.2s ease-in-out;
}

.quote-button:hover,
#Translate:hover {
  transform: scale(1.1);
}
