* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 300;
}

header h1 {
  color: lightcoral;
}

main div p {
  font-family: "Bradley Hand", cursive;
  font-weight: 200;
}

.quote-field {
  color: darkgreen;
  background-color: lightcoral;
}

.quote-button,
#Translate {
  transition: transform 0.2s ease-in-out;
}

.quote-button:hover,
#Translate:hover {
  transform: scale(1.1);
}
